<div class="bg-content">
  <!-- content -->
  <div id="content">
    <div class="ic"></div>
    <div class="container">
      <div class="row">
        <article class="span8">
          <h3>Developers</h3>
            <h5>Quang Duy Luong</h5>
            <p>Email: quangduy.luong@sjsu.edu</p>

            <h5>Jie Peng Hu</h5>
            <p>Email: jiepeng.huwu@sjsu.edu</p>

            <h5>Su Pyae Tun</h5>
            <p>Email: supyae.tun@sjsu.edu</p>

            <h5>Yihua Li</h5>
            <p>Email: yihua.li@sjsu.edu</p>
          
        </article>
      </div>
    </div>
  </div>
</div>