<div class="bg-content">
  <!-- content -->
  <div id="content">
    <div class="ic"></div>
    <!-- searchform here -->
    <%= render 'layouts/searchform' %>
    <!-- end searchform -->
    <div class="container">
      <div class="row">
        <article class="span8">
        <% if @restaurants.blank?%>
          <h3>Couldn't find any restaurant matching the specified parameters.</h3>
        <% else %>
          <% @restaurants.each do |f| %>
            <h3><%= link_to f.name, f %> </h3> <% if f.reviews.blank? %>(0.0)
              <% else%>(<%= (f.reviews.average(:rating)).round(2) %>)<% end%>
            <br><br><br>
          <% end %>
        <% end %>
      </article>
      </div>
    </div>
  </div>
</div>